<div id="desktop">
<div id="header">
  <%= image_tag "#{@business["slug"]}/search.png" %>
  <%= image_tag "name.png", id: "name" %>
</div>

<div id="sub-header">
  <%= image_tag "links.png" %>
  <%= image_tag "settings.png", id: "settings" %>
</div>

<div id="result-left">
  <%= image_tag "#{@business["slug"]}/results.jpg", id: "results" %>
</div>

<div id="result-right">
  <%= image_tag "#{@business["slug"]}/right_top.png", id: "right-top" %>

  <%= render partial: "specials_tab", locals: {mobile: false} %>

  <%= image_tag "#{@business["slug"]}/right_bottom.png", id: "right-bottom" %>
</div>

<div id="footer">
  <%= image_tag "footer.png", id: "results" %>
</div>

</div>

<div id="mobile">
  <%= image_tag "#{@business["slug"]}/mobile_top.png", id: "mobile-top" %>

  <%= render partial: "specials_tab", locals: {mobile: true} %>

  <%= image_tag "#{@business["slug"]}/mobile_bottom.png", id: "mobile-bottom" %>

</div>
